# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & secrets
security/
.sql


# Logs & runtime data
log/
logs/
*.log

# Build artifacts


# OS / IDE artifacts
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/


